<div class="container">

    <form>

        <div class="row">&nbsp;</div>



        <div class="row text-center form-group">

            <div class="col">

                <div>Input name</div>

                <div><input class="form-control" type="text" id="userInput" /></div>

            </div>

        </div>



        <div class="row text-center form-group">

            <div class="col">

                <div>Message</div>

                <div><input class="form-control" type="text" id="messageInput" /></div>

            </div>

        </div>



        <div class="row">&nbsp;</div>



        <div class="text-center form-group">

            <input class="btn btn-sm btn-primary" type="button" id="sendButton" value="Send Message" />

        </div>

    </form>

</div>



<div class="row text-center">

    <div class="col-12">

        <hr />

    </div>

</div>

<div class="row text-center">

    <div class="col-6">

        <ul id="messagesList"></ul>

    </div>

</div>

<script src="~/js/signalr/dist/browser/signalr.min.js"></script>

<script src="~/js/chat.js"></script>